body {
    background-color: silver;
    font-family: Ariel, Helvetica, sans-serif;
    padding: 20px;
}

td {
    width: 200px;
    border: 1px solid;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;

}

h1 {
    font-size: 5em;
}

.title {
    font-weight: 600;
}

.done-btn {
    width: 50px;
}

.t-stamp {
    width: 180px;
}